{{!-- Inner --}}
<img src="/img/inner-servicios-kino.jpg" alt="Servicios k1n0" alt="Servicios | K1n0.com" class="inner__con">
<img src="/img/inner-servicios-kino-mob.jpg" alt="Servicios k1n0" alt="Servicios | K1n0.com" class="inner__mob">
{{!-- Fin Inner --}}
<div class="diseno">
    <div class="container">
        <div class="diseno__title">
            <h1>Ilustración y Diseño Gráfico Profesional | K1n0c0m</h1>
            <p>
                <i>Tu negocio y tus productos deben verse bien</i>
            </p>
        </div>
        <div class="diseno__body">
            <p class="ser__subtitle">
                Cotiza planes y precios en Servicios de <i>Ilustración y Diseño Gráfico Profesional</i>
            </p>

            <div class="container">

                <div class="card text-dark bg-light m-4" style="width: 18rem;">
                    <img src="/img/services/pages-design.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="color: black;">Ilustración de piezas</h5>
                        <p class="card-text" style="color: black;">
                            Adquiere piezas de ilustración personalizadas y únicas de alta calidad
                            para hacer realidad tus ideas.
                        </p>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#modalIlus">
                            Ver precios
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="modalIlus" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Precios en COP</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <ul class="modser__list">
                                            <li class="modser__item">
                                                Paquete Noob (Hasta 20 Piezas): $ 60.000 COP
                                            </li>
                                            <li class="modser__item">
                                                Paquete Master (Hasta 60 Piezas): $ 140.000 COP
                                            </li>
                                            <li class="modser__item">
                                                Paquete Pro (Hasta 120 Piezas): $ 260.000 COP
                                            </li>
                                            <li class="modser__item">
                                                Paquete Diamond (+ 200 Piezas): <a href="https://wa.link/ra2121"
                                                    target="_blank" rel="nofollow" class="btn btn-success">Pregunta
                                                    directa</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <a href="/links/add" class="btn btn-danger">Solicitar ahora</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="card text-dark bg-light m-4" style="width: 18rem;">
                    <img src="/img/services/pages-design.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="color: black;">Diseño de piezas</h5>
                        <p class="card-text" style="color: black;">
                            Si ya cuentas con imágenes, ideas o piezas ilustradas, puedes darles vida con
                            un diseño altamente profesional.
                        </p>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#modalDisen">
                            Ver precios
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="modalDisen" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Precios en COP</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <ul class="modser__list">
                                            <li class="modser__item">
                                                Paquete Noob (Hasta 20 Piezas): $ 200.000 COP
                                            </li>
                                            <li class="modser__item">
                                                Paquete Master (Hasta 60 Piezas): $ 400.000 COP
                                            </li>
                                            <li class="modser__item">
                                                Paquete Pro (Hasta 140 Piezas): $ 600.000 COP
                                            </li>
                                            <li class="modser__item">
                                                Paquete Diamond (+ 200 Piezas): <a href="https://wa.link/ra2121"
                                                    target="_blank" rel="nofollow" class="btn btn-success">Pregunta
                                                    directa</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <a href="/links/add" class="btn btn-danger">Solicitar ahora</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card text-dark bg-light m-4" style="width: 18rem;">
                    <img src="/img/services/pages-design.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="color: black;">Diseño Móvil/App</h5>
                        <p class="card-text" style="color: black;">
                            Diseño de experiencia de navegación UX/UI para ofrecer a los usuarios de tu
                            app, una experiencia única.
                        </p>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#modalDMovil">
                            Ver precios
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="modalDMovil" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Precios en COP</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <ul class="modser__list">
                                            <li class="modser__item">
                                                Paquete Noob (1 Página): $ 80.000 COP
                                            </li>
                                            <li class="modser__item">
                                                Paquete Master (Hasta 4 Páginas): $ 160.000 COP
                                            </li>
                                            <li class="modser__item">
                                                Paquete Pro (Hasta 10 Páginas): $ 320.000 COP
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <a href="/links/add" class="btn btn-danger">Solicitar ahora</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="container">

                <div class="card text-dark bg-light m-4" style="width: 18rem;">
                    <img src="/img/services/pages-design.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="color: black;">Diseño Web</h5>
                        <p class="card-text" style="color: black;">
                            Tus usuarios y clientes necesitan una navegación estética y original, desarrollada
                            con un manejo profesional de diseño.
                        </p>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#modalDWeb">
                            Ver precios
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="modalDWeb" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Precios en COP</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <ul class="modser__list">
                                            <li class="modser__item">
                                                Paquete Noob (1 Página): $ 40.000 COP
                                            </li>
                                            <li class="modser__item">
                                                Paquete Master (Hasta 4 Páginas): $ 80.000 COP
                                            </li>
                                            <li class="modser__item">
                                                Paquete Pro (Hasta 10 Páginas): $ 130.000 COP
                                            </li>
                                            <li class="modser__item">
                                                Paquete Diamond (+ 20 Páginas): <a href="https://wa.link/ra2121"
                                                    target="_blank" rel="nofollow" class="btn btn-success">Pregunta
                                                    directa</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <a href="/links/add" class="btn btn-danger">Solicitar ahora</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card text-dark bg-light m-4" style="width: 18rem;">
                    <img src="/img/services/pages-design.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="color: black;">Diseño software</h5>
                        <p class="card-text" style="color: black;">
                            Que los programas grises no depriman a tus empleados; dale vida a tu software interno
                            con un diseño personalizado de software.
                        </p>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#modalDSoft">
                            Ver precios
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="modalDSoft" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Precios en COP</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <ul class="modser__list">
                                            <li class="modser__item">
                                                Paquete Noob (1 Página): $ 80.000 COP
                                            </li>
                                            <li class="modser__item">
                                                Paquete Master (Hasta 4 Páginas): $ 160.000 COP
                                            </li>
                                            <li class="modser__item">
                                                Paquete Pro (Hasta 10 Páginas): $ 320.000 COP
                                            </li>
                                            <li class="modser__item">
                                                Paquete Diamond (+ 20 Páginas): <a href="https://wa.link/ra2121"
                                                    target="_blank" rel="nofollow" class="btn btn-success">Pregunta
                                                    directa</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <a href="/links/add" class="btn btn-danger">Solicitar ahora</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card text-dark bg-light m-4" style="width: 18rem;">
                    <img src="/img/services/pages-design.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="color: black;">Contenido de Social Media</h5>
                        <p class="card-text" style="color: black;">
                            ¿Sin ideas para publicar en tus redes?, en k1n0c0m planeamos una parrilla
                            de contenido para entretener a tus públicos.
                        </p>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#modalCont">
                            Ver precios
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="modalCont" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Precios en COP</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <ul class="modser__list">
                                            <li class="modser__item">
                                                Paquete Noob (Hasta 5 Piezas): $ 60.000 COP
                                            </li>
                                            <li class="modser__item">
                                                Paquete Master (Hasta 20 Piezas): $ 180.000 COP
                                            </li>
                                            <li class="modser__item">
                                                Paquete Pro (Hasta 40 Piezas): $ 320.000 COP
                                            </li>
                                            <li class="modser__item">
                                                Paquete Diamond (+ 60 Piezas): <a href="https://wa.link/ra2121"
                                                    target="_blank" rel="nofollow" class="btn btn-success">Pregunta
                                                    directa</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <a href="/links/add" class="btn btn-danger">Solicitar ahora</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="container text-center">
                <div class="diseno__title">
                    <h3>Otros servicios | K1n0c0m</h3>
                    <p>
                        <i>Un universo de servicios digitales a la mano</i>
                    </p>
                </div>
            </div>

            <div class="container">
                <div class="diseno__body--dos">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="ser__item">

                                    <div class="serv__img">
                                        <img src="/img/services/pages-develop.png" alt="Servicios k1n0 | Desarrollo"
                                            title="Servicios k1n0 | Desarrollo">
                                    </div>

                                    <div class="serv__txt">
                                        <div class="serv--title">
                                            <h3>Desarrollo Web y Aplicaciones Android/iOs</h3>
                                            <p>
                                                <i>Tu negocio y tus productos en Internet</i>
                                            </p>
                                        </div>
                                        <p>
                                            Desarrollamos Web y Aplicaciones útiles y funcionales para tu negocio
                                            con funciones ágiles y personalizadas y un control administrativo para
                                            optimizar
                                            el desempeño del sistema y organizar las tareas del día a día.
                                        </p>
                                        <div class="serv__icons">
                                            <img src="/img/services/draw-dev.png" alt="Servicios k1n0 | Desarrollo"
                                                title="Servicios k1n0 | Desarrollo" class="icon--items">
                                        </div>
                                        <div class="serv__link">
                                            {{#if user}}
                                            <p>Cotiza este servicio <a href="/servicios/web">Aquí</a></p>
                                            {{else}}
                                            <p>Solicita este servicio <a href="/signup">Aquí</a></p>
                                            {{/if}}
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="ser__item">

                                    <div class="serv__img">
                                        <img src="/img/services/pages-video.png" alt="Servicios k1n0 | Foto y video"
                                            title="Servicios k1n0 | Foto y video">
                                    </div>

                                    <div class="serv__txt">
                                        <div class="serv--title">
                                            <h3>Producción Fotográfica y Audiovisual</h3>
                                            <p>
                                                <i>La visibilidad de tu negocio en alta calidad</i>
                                            </p>
                                        </div>
                                        <p>
                                            La visibilidad de tu negocio es fundamental para atraer un mayor volúmen del
                                            mercado, optimiza tus canales con material fotográfico y audiovisual de alta
                                            definición.
                                        </p>
                                        <div class="serv__icons">
                                            <img src="/img/services/draw-vid.png" alt="Servicios k1n0 | Foto y video"
                                                title="Servicios k1n0 | Foto y video" class="icon--items">
                                        </div>
                                        <div class="serv__link">
                                            {{#if user}}
                                            <p>Cotiza este servicio <a href="/links/add">Aquí</a></p>
                                            {{else}}
                                            <p>Solicita este servicio <a href="/signup">Aquí</a></p>
                                            {{/if}}
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="ser__item">

                                    <div class="serv__img">
                                        <img src="/img/services/pages-posit.png" alt="Servicios k1n0 | SEO"
                                            title="Servicios k1n0 | SEO">
                                    </div>

                                    <div class="serv__txt">
                                        <div class="serv--title">
                                            <h3>Posicionamiento SEO/SEM</h3>
                                            <p>
                                                <i>Tu web en el primer lugar</i>
                                            </p>
                                        </div>
                                        <p>
                                            Haz que tu sitio web genere un mayor tráfico, ocupando el primer lugar en
                                            los motores
                                            de búsqueda y optimizando las palabras y frases clave para que te encuentre
                                            el
                                            mundo entero.
                                        </p>
                                        <div class="serv__icons">
                                            <img src="/img/services/draw-pos.png" alt="Servicios k1n0 | SEO"
                                                title="Servicios k1n0 | SEO" class="icon--items">
                                        </div>
                                        <div class="serv__link">
                                            {{#if user}}
                                            <p>Cotiza este servicio <a href="/links/add">Aquí</a></p>
                                            {{else}}
                                            <p>Solicita este servicio <a href="/signup">Aquí</a></p>
                                            {{/if}}
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="ser__item">

                                    <div class="serv__img">
                                        <img src="/img/services/pages-social.png" alt="Servicios k1n0 | CM"
                                            title="Servicios k1n0 | CM">
                                    </div>

                                    <div class="serv__txt">
                                        <div class="serv--title">
                                            <h3>Community Management</h3>
                                            <p>
                                                <i>Las comunidades de tu negocio al alcance</i>
                                            </p>
                                        </div>
                                        <p>
                                            Que tus redes sociales no se queden en el olvido. Dale vida a tus canales
                                            con publicaciones
                                            y material multimedia atractivo y aumenta la participación de los públicos.
                                        </p>
                                        <div class="serv__icons">
                                            <img src="/img/services/draw-soc.png" alt="Servicios k1n0 | CM"
                                                title="Servicios k1n0 | CM" class="icon--items">
                                        </div>
                                        <div class="serv__link">
                                            {{#if user}}
                                            <p>Cotiza este servicio <a href="/links/add">Aquí</a></p>
                                            {{else}}
                                            <p>Solicita este servicio <a href="/signup">Aquí</a></p>
                                            {{/if}}
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="ser__item">

                                    <div class="serv__img">
                                        <img src="/img/services/pages-planning.png" alt="Servicios k1n0 | Planeación"
                                            title="Servicios k1n0 | Planeación">
                                    </div>

                                    <div class="serv__txt">
                                        <div class="serv--title">
                                            <h3>Planeación y Comunicación Organizacional</h3>
                                            <p>
                                                <i>Organizamos tu negocio desde adentro</i>
                                            </p>
                                        </div>
                                        <p>
                                            La mejor estrategia depende de un objetivo claro que se ajuste a las
                                            necesidades
                                            de tu negocio. Conoce los planes de comunicación más inteligentes en
                                            K1n0.com
                                        </p>
                                        <div class="serv__icons">
                                            <img src="/img/services/draw-org.png" alt="k1n0 | Planeación"
                                                title="k1n0 | Planeación" class="icon--items">
                                        </div>
                                        <div class="serv__link">
                                            {{#if user}}
                                            <p>Cotiza este servicio <a href="/links/add">Aquí</a></p>
                                            {{else}}
                                            <p>Solicita este servicio <a href="/signup">Aquí</a></p>
                                            {{/if}}
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>