{{!-- Inner --}}
<img src="/img/inner-servicios-kino.jpg" alt="Servicios k1n0" alt="Servicios | K1n0.com" class="inner__con">
<img src="/img/inner-servicios-kino-mob.jpg" alt="Servicios k1n0" alt="Servicios | K1n0.com" class="inner__mob">
{{!-- Fin Inner --}}
<div class="masthead_nos"></div>
<div class="diseno">
    <div class="container">
        <div class="diseno__title">
            <h1>Desarrollo Web y Aplicaciones Android/iOs | K1n0c0m</h1>
            <p>
                <i>Tu negocio y tus productos en Internet</i>
            </p>
        </div>
        <div class="diseno__body">
            <p class="ser__subtitle">
                Cotiza planes y precios en Servicios de <i>Desarrollo Web y Aplicaciones Android/iOs</i>
            </p>

            <div class="container">

                <div class="card text-dark bg-light m-4" style="width: 18rem;">
                    <img src="/img/services/pages-design.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="color: black;">Web PHP Básica</h5>
                        <p class="card-text" style="color: black;">
                            Web de estilo <i>One Page</i> de entorno en PHP con base de datos y control de
                            funciones desde Cpanel y Wordpress.
                        </p>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#modalPhp">
                            Ver precios
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="modalPhp" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Web PHP Básica</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <ul class="modser__list">
                                            <li class="modser__item">
                                                Paquete Noob (Hasta 4 Secciones): $ 200.000 COP
                                            </li>
                                            <li class="modser__item">
                                                Paquete Master (Hasta 6 Secciones): $ 240.000 COP
                                            </li>
                                            <li class="modser__item">
                                                Paquete Pro (Hasta 8 Secciones): $ 340.000 COP
                                            </li>
                                            <li class="modser__item">
                                                Paquete Diamond (+ 10 Secciones): <a href="https://wa.link/ra2121"
                                                    target="_blank" rel="nofollow" class="btn btn-success">Pregunta
                                                    directa</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <a href="/links/add" class="btn btn-danger">Solicitar ahora</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="card text-dark bg-light m-4" style="width: 18rem;">
                    <img src="/img/services/pages-design.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="color: black;">Web PHP Completa</h5>
                        <p class="card-text" style="color: black;">
                            Web Multipage con efectos artísticos de navegación. Incluye base de datos y control de
                            funciones de Cpanel/Wordpress.
                        </p>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#phpComplex">
                            Ver precios
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="phpComplex" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Web PHP Completa</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <ul class="modser__list">
                                            <li class="modser__item">
                                                Paquete Noob (Hasta 4 Páginas): $ 320.000 COP
                                            </li>
                                            <li class="modser__item">
                                                Paquete Master (Hasta 8 Páginas): $ 420.000 COP
                                            </li>
                                            <li class="modser__item">
                                                Paquete Pro (Hasta 12 Páginas): $ 600.000 COP
                                            </li>
                                            <li class="modser__item">
                                                Paquete Diamond (+ 20 Páginas): <a href="https://wa.link/ra2121"
                                                    target="_blank" rel="nofollow" class="btn btn-success">Pregunta
                                                    directa</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <a href="/links/add" class="btn btn-danger">Solicitar ahora</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card text-dark bg-light m-4" style="width: 18rem;">
                    <img src="/img/services/pages-design.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="color: black;">Admin Basico</h5>
                        <p class="card-text" style="color: black;">
                            Control Administrativo Básico para el registro de clientes, productos y ventas.
                            Ideal para empresas pequeñas.
                        </p>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#basicAdmin">
                            Ver precios
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="basicAdmin" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Admin Basico</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <ul class="modser__list">
                                            <li class="modser__item">
                                                Paquete Noob (Sólo clientes): $ 200.000 COP
                                            </li>
                                            <li class="modser__item">
                                                Paquete Master (Clientes + Productos/Servicios): $ 400.000 COP
                                            </li>
                                            <li class="modser__item">
                                                Paquete Pro (Clientes + Productos/Servicios + Registro ventas): $ 600.000 COP
                                            </li>
                                            <li class="modser__item">
                                                Paquete Diamond (+ Secciones): <a href="https://wa.link/ra2121"
                                                    target="_blank" rel="nofollow" class="btn btn-success">Pregunta
                                                    directa</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <a href="/links/add" class="btn btn-danger">Solicitar ahora</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="container">

                <div class="card text-dark bg-light m-4" style="width: 18rem;">
                    <img src="/img/services/pages-design.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="color: black;">Web Node Basico</h5>
                        <p class="card-text" style="color: black;">
                            Web estilo One Page con sistema Node JS para potenciar la agilidad de navegación.
                            Incluye administrador Heroku/Wordpress.
                        </p>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#nodeBasic">
                            Ver precios
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="nodeBasic" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Web Node Basico</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <ul class="modser__list">
                                            <li class="modser__item">
                                                Paquete Noob (Hasta 4 Secciones): $ 400.000 COP
                                            </li>
                                            <li class="modser__item">
                                                Paquete Master (Hasta 6 Secciones): $ 540.000 COP
                                            </li>
                                            <li class="modser__item">
                                                Paquete Pro (Hasta 8 Secciones): $ 640.000 COP
                                            </li>
                                            <li class="modser__item">
                                                Paquete Diamond (+ 10 Secciones): <a href="https://wa.link/ra2121"
                                                    target="_blank" rel="nofollow" class="btn btn-success">Pregunta
                                                    directa</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <a href="/links/add" class="btn btn-danger">Solicitar ahora</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card text-dark bg-light m-4" style="width: 18rem;">
                    <img src="/img/services/pages-design.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="color: black;">Web Node Completa</h5>
                        <p class="card-text" style="color: black;">
                            Multipage más ágil y con posibilidad de añadir sistemas y funciones personalizadas
                            con base de datos Heroku/Wordpress.
                        </p>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#nodeComplex">
                            Ver precios
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="nodeComplex" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Web Node Completa</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <ul class="modser__list">
                                            <li class="modser__item">
                                                Paquete Noob (Hasta 4 Páginas): $ 600.000 COP
                                            </li>
                                            <li class="modser__item">
                                                Paquete Master (Hasta 8 Páginas): $ 800.000 COP
                                            </li>
                                            <li class="modser__item">
                                                Paquete Pro (Hasta 12 Páginas): $ 1'000.000 COP
                                            </li>
                                            <li class="modser__item">
                                                Paquete Diamond (+ 20 Páginas): <a href="https://wa.link/ra2121"
                                                    target="_blank" rel="nofollow" class="btn btn-success">Pregunta
                                                    directa</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <a href="/links/add" class="btn btn-danger">Solicitar ahora</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card text-dark bg-light m-4" style="width: 18rem;">
                    <img src="/img/services/pages-design.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="color: black;">Web Node Control</h5>
                        <p class="card-text" style="color: black;">
                            Control administrativo más ágil y con entorno móvil para uso desde
                            cualquier dispositivo.
                        </p>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#nodeControl">
                            Ver precios
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="nodeControl" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Web Node Control</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <ul class="modser__list">
                                            <li class="modser__item">
                                                Paquete Noob (Sólo clientes): $ 400.000 COP
                                            </li>
                                            <li class="modser__item">
                                                Paquete Master (Clientes + Productos/Servicios): $ 800.000 COP
                                            </li>
                                            <li class="modser__item">
                                                Paquete Pro (Clientes + Productos/Servicios + Registro ventas): $ 1'000.000 COP
                                            </li>
                                            <li class="modser__item">
                                                Paquete Diamond (+ Secciones): <a href="https://wa.link/ra2121"
                                                    target="_blank" rel="nofollow" class="btn btn-success">Pregunta
                                                    directa</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <a href="/links/add" class="btn btn-danger">Solicitar ahora</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="container">

                <div class="card text-dark bg-light m-4" style="width: 18rem;">
                    <img src="/img/services/pages-design.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="color: black;">Web Python Básica</h5>
                        <p class="card-text" style="color: black;">
                            Web Python de estilo One Page multi/propósito con base de datos y sistema
                            administrativo Heroku/Wordpress.
                        </p>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#pyBasic">
                            Ver precios
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="pyBasic" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Web Python Básica</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <ul class="modser__list">
                                            <li class="modser__item">
                                                Paquete Noob (Hasta 4 Secciones): $ 500.000 COP
                                            </li>
                                            <li class="modser__item">
                                                Paquete Master (Hasta 6 Secciones): $ 660.000 COP
                                            </li>
                                            <li class="modser__item">
                                                Paquete Pro (Hasta 8 Secciones): $ 840.000 COP
                                            </li>
                                            <li class="modser__item">
                                                Paquete Diamond (+ 10 Secciones): <a href="https://wa.link/ra2121"
                                                    target="_blank" rel="nofollow" class="btn btn-success">Pregunta
                                                    directa</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <a href="/links/add" class="btn btn-danger">Solicitar ahora</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card text-dark bg-light m-4" style="width: 18rem;">
                    <img src="/img/services/pages-design.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="color: black;">Web Python Completa</h5>
                        <p class="card-text" style="color: black;">
                            Web Python Multi-page con estilos responsivos (Multi-dispositivo) y con funciones
                            basadas en la experiencia de usuario.
                        </p>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#pyPro">
                            Ver precios
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="pyPro" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Web Python Completa</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <ul class="modser__list">
                                            <li class="modser__item">
                                                Paquete Noob (Hasta 4 Páginas): $ 800.000 COP
                                            </li>
                                            <li class="modser__item">
                                                Paquete Master (Hasta 8 Páginas): $ 1'200.000 COP
                                            </li>
                                            <li class="modser__item">
                                                Paquete Pro (Hasta 12 Páginas): $ 1'400.000 COP
                                            </li>
                                            <li class="modser__item">
                                                Paquete Diamond (+ 20 Páginas): <a href="https://wa.link/ra2121"
                                                    target="_blank" rel="nofollow" class="btn btn-success">Pregunta
                                                    directa</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <a href="/links/add" class="btn btn-danger">Solicitar ahora</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card text-dark bg-light m-4" style="width: 18rem;">
                    <img src="/img/services/pages-design.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="color: black;">Python Administrativo</h5>
                        <p class="card-text" style="color: black;">
                            Administra tu web Pyrthon y tus contenidos con un <strong>Control Administrativo</strong>
                            profesional para el seguimiento de clientes y ventas
                        </p>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#contPower">
                            Ver precios
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="contPower" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Python Administrativo</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <ul class="modser__list">
                                            <li class="modser__item">
                                                Paquete Noob (Sólo clientes): $ 800.000 COP
                                            </li>
                                            <li class="modser__item">
                                                Paquete Master (Clientes + Productos/Servicios): $ 1'400.000 COP
                                            </li>
                                            <li class="modser__item">
                                                Paquete Pro (Clientes + Productos/Servicios + Registro ventas): $ 1'800.000 COP
                                            </li>
                                            <li class="modser__item">
                                                Paquete Diamond (+ Secciones): <a href="https://wa.link/ra2121"
                                                    target="_blank" rel="nofollow" class="btn btn-success">Pregunta
                                                    directa</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <a href="/links/add" class="btn btn-danger">Solicitar ahora</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="container">

                <div class="card text-dark bg-light m-4" style="width: 18rem;">
                    <img src="/img/services/pages-design.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="color: black;">App Básica</h5>
                        <p class="card-text" style="color: black;">
                            Aplicativo Android con funciones básicas para compra y venta de bienes
                            y servicios.
                        </p>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#pyBasic">
                            Ver precios
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="pyBasic" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">App Básica</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <ul class="modser__list">
                                            <li class="modser__item">
                                                App Básica: Hasta $ 9'000.000 COP
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <a href="/links/add" class="btn btn-danger">Solicitar ahora</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card text-dark bg-light m-4" style="width: 18rem;">
                    <img src="/img/services/pages-design.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="color: black;">App Profesional</h5>
                        <p class="card-text" style="color: black;">
                            Aplicativo profesional Android/iOs para la compra/venta de bienes y servicios 
                            con autenticación de usuarios.
                        </p>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#pyPro">
                            Ver precios
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="pyPro" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">App Profesional</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <ul class="modser__list">
                                            <li class="modser__item">
                                                App Profesional: hasta $ 15'000.000 COP
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <a href="/links/add" class="btn btn-danger">Solicitar ahora</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card text-dark bg-light m-4" style="width: 18rem;">
                    <img src="/img/services/pages-design.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="color: black;">App Diamond</h5>
                        <p class="card-text" style="color: black;">
                            Un aplicativo completo y profesional, ágil y funcional con funciones de última
                            generación y diseño de punta.
                        </p>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#contPower">
                            Ver precios
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="contPower" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">App Diamond</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <ul class="modser__list">
                                            <li class="modser__item">
                                                App Diamond: Hasta $ 20'000.000 COP
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <a href="/links/add" class="btn btn-danger">Solicitar ahora</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="container text-center">
                <div class="diseno__title">
                    <h3>Otros servicios | K1n0c0m</h3>
                    <p>
                        <i>Un universo de servicios digitales a la mano</i>
                    </p>
                </div>
            </div>

            <div class="container">
                <div class="diseno__body--dos">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="ser__item">

                                    <div class="serv__img">
                                        <img src="/img/services/pages-design.png" alt="Servicios k1n0 | Diseño"
                                            title="Servicios k1n0 | Diseño">
                                    </div>

                                    <div class="serv__txt">
                                        <div class="serv--title">
                                            <h3>Ilustración y Diseño Gráfico Profesional</h3>
                                            <p>
                                                <i>Tu negocio y tus productos deben verse bien</i>
                                            </p>
                                        </div>
                                        <p>
                                            Diseñamos e ilustramos sus ideas en 2D, 3D y con efectos especiales
                                            para que sus clientes se lleven una imagen atractiva e innovadora de su
                                            empresa o negocio.
                                        </p>
                                        <div class="serv__icons">
                                            <img src="/img/services/draw-design.png" alt="Servicios k1n0 | Diseño"
                                                title="Servicios k1n0 | Diseño" class="icon--items">
                                        </div>
                                        <div class="serv__link">
                                            {{#if user}}
                                            <p>Cotiza este servicio <a href="/servicios/diseno">Aquí</a></p>
                                            {{else}}
                                            <p>Solicita este servicio <a href="/signup">Aquí</a></p>
                                            {{/if}}
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="ser__item">

                                    <div class="serv__img">
                                        <img src="/img/services/pages-video.png" alt="Servicios k1n0 | Foto y video"
                                            title="Servicios k1n0 | Foto y video">
                                    </div>

                                    <div class="serv__txt">
                                        <div class="serv--title">
                                            <h3>Producción Fotográfica y Audiovisual</h3>
                                            <p>
                                                <i>La visibilidad de tu negocio en alta calidad</i>
                                            </p>
                                        </div>
                                        <p>
                                            La visibilidad de tu negocio es fundamental para atraer un mayor volúmen del
                                            mercado, optimiza tus canales con material fotográfico y audiovisual de alta
                                            definición.
                                        </p>
                                        <div class="serv__icons">
                                            <img src="/img/services/draw-vid.png" alt="Servicios k1n0 | Foto y video"
                                                title="Servicios k1n0 | Foto y video" class="icon--items">
                                        </div>
                                        <div class="serv__link">
                                            {{#if user}}
                                            <p>Cotiza este servicio <a href="/links/add">Aquí</a></p>
                                            {{else}}
                                            <p>Solicita este servicio <a href="/signup">Aquí</a></p>
                                            {{/if}}
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="ser__item">

                                    <div class="serv__img">
                                        <img src="/img/services/pages-posit.png" alt="Servicios k1n0 | SEO"
                                            title="Servicios k1n0 | SEO">
                                    </div>

                                    <div class="serv__txt">
                                        <div class="serv--title">
                                            <h3>Posicionamiento SEO/SEM</h3>
                                            <p>
                                                <i>Tu web en el primer lugar</i>
                                            </p>
                                        </div>
                                        <p>
                                            Haz que tu sitio web genere un mayor tráfico, ocupando el primer lugar en
                                            los motores
                                            de búsqueda y optimizando las palabras y frases clave para que te encuentre
                                            el
                                            mundo entero.
                                        </p>
                                        <div class="serv__icons">
                                            <img src="/img/services/draw-pos.png" alt="Servicios k1n0 | SEO"
                                                title="Servicios k1n0 | SEO" class="icon--items">
                                        </div>
                                        <div class="serv__link">
                                            {{#if user}}
                                            <p>Cotiza este servicio <a href="/links/add">Aquí</a></p>
                                            {{else}}
                                            <p>Solicita este servicio <a href="/signup">Aquí</a></p>
                                            {{/if}}
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="ser__item">

                                    <div class="serv__img">
                                        <img src="/img/services/pages-social.png" alt="Servicios k1n0 | CM"
                                            title="Servicios k1n0 | CM">
                                    </div>

                                    <div class="serv__txt">
                                        <div class="serv--title">
                                            <h3>Community Management</h3>
                                            <p>
                                                <i>Las comunidades de tu negocio al alcance</i>
                                            </p>
                                        </div>
                                        <p>
                                            Que tus redes sociales no se queden en el olvido. Dale vida a tus canales
                                            con publicaciones
                                            y material multimedia atractivo y aumenta la participación de los públicos.
                                        </p>
                                        <div class="serv__icons">
                                            <img src="/img/services/draw-soc.png" alt="Servicios k1n0 | CM"
                                                title="Servicios k1n0 | CM" class="icon--items">
                                        </div>
                                        <div class="serv__link">
                                            {{#if user}}
                                            <p>Cotiza este servicio <a href="/links/add">Aquí</a></p>
                                            {{else}}
                                            <p>Solicita este servicio <a href="/signup">Aquí</a></p>
                                            {{/if}}
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="ser__item">

                                    <div class="serv__img">
                                        <img src="/img/services/pages-planning.png" alt="Servicios k1n0 | Planeación"
                                            title="Servicios k1n0 | Planeación">
                                    </div>

                                    <div class="serv__txt">
                                        <div class="serv--title">
                                            <h3>Planeación y Comunicación Organizacional</h3>
                                            <p>
                                                <i>Organizamos tu negocio desde adentro</i>
                                            </p>
                                        </div>
                                        <p>
                                            La mejor estrategia depende de un objetivo claro que se ajuste a las
                                            necesidades
                                            de tu negocio. Conoce los planes de comunicación más inteligentes en
                                            K1n0.com
                                        </p>
                                        <div class="serv__icons">
                                            <img src="/img/services/draw-org.png" alt="k1n0 | Planeación"
                                                title="k1n0 | Planeación" class="icon--items">
                                        </div>
                                        <div class="serv__link">
                                            {{#if user}}
                                            <p>Cotiza este servicio <a href="/links/add">Aquí</a></p>
                                            {{else}}
                                            <p>Solicita este servicio <a href="/signup">Aquí</a></p>
                                            {{/if}}
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>